<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html ng-app="fin-hack">
<head>
    <!--
    Customize this policy to fit your own app's needs. For more guidance, see:
        https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
    Some notes:
        * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
        * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
        * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
            * Enable inline JS: add 'unsafe-inline' to default-src
    -->
    <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: *; style-src *; media-src *">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../css/material%20icons/material-icons.css">
    <title>Fin-Hack</title>
</head>
<body>
<header>
    <nav class="red">
        <div class="nav-wrapper container">
            <a href="/home" class="brand-logo center-on-small-only">Fin-Hack</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="home.html">Home</a></li>
                <li><a href="viewTransactions.html">View Transactions</a> </li>
                <li><a href="addExpense.html">Add Expense</a> </li>
                <li><a href="addDeposit.html">Add Deposit</a> </li>
                <li><a href="about.html">About</a> </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="./templates/login.html">Login</a></li>
                <li><a href=".home.html">Home</a></li>
                <li><a href="viewTransactions.html">View Transactions</a> </li>
                <li><a href="addExpense.html">Add Expense</a> </li>
                <li><a href="addDeposit.html">Add Deposit</a> </li>
                <li><a href="about.html">About</a> </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
<div class="row">
    <h3>Register</h3>
    <form id="registerForm" method="post" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="First Name" id="first_name" type="text" class="validate" name="firstName" required>
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s12">
                <input placeholder="Last Name" id="last_name" type="text" class="validate" name="lastName" required>
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" placeholder="Email" name="email" required>
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="password" required>
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="tel" type="tel" class="validate" placeholder="Number" name="number" required>
                <label for="tel">Phone Number</label>
                <input id="Number" type="tel" class="validate" placeholder="Number">
                <label for="Number">Phone Number</label>
            </div>
        </div>
        <button id="register" class="waves-effect waves-light btn" type="submit">Register</button>
    </form>
</div>
    </div>


<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../js/jquery.form.min.js"></script>
<script src="../js/materialize.min.js"></script>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
</body>
</html>

